:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-color: #ffffff;
  --text-color: #213547;
  --navbar-bg: rgba(255, 255, 255, 0.7);
  --navbar-text: #213547;
  --hover-color: #747bff;
  --slider-bg: #ccc;
  --slider-button: #fff;
  --slider-active: #2196F3;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

body.dark-theme {
  --bg-color: #242424;
  --text-color: rgba(255, 255, 255, 0.87);
  --navbar-bg: rgba(36, 36, 36, 0.7);
  --navbar-text: rgba(255, 255, 255, 0.87);
}

/* This selector is too broad and may cause performance issues .theme-transition {*/
body, #root, .content {
  transition: background-color 0.4s ease, color 0.4s ease;
}

html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}