/* Keep the rest of the styles here */
.vite-react-content {
  /* Center the content vertically and horizontally */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100vh; 
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: var(--transition);
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
